/* Footer.module.css */

.footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

}

.footerection {
    display: flex;
}

.footerlogo img {
    width: 100px;
    /* Adjust the logo width */
}

.footeraddress p {
    margin: 5px 0;
}

.footersection {
    text-align: right;
    /* Align the content to the right */
}

.sociallinks a {
    display: block;
    margin: 5px 0;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer {
        padding: 5px;
    }
    .footerection {
    flex-direction: column;
    }
    .footer h3{
        font-size: 12px;
    }
    .footer p{
        font-size: 9px;
    }
    .footer a{
        font-size: 9px;
    }
    


}