/* Signup.module.css */

.signupContainer {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    height: 80vh; /* Set container height to full viewport height */
    margin-top: 40px;
  background: linear-gradient(to right, #2ecc71, #27ae60); /* Green gradient, adjust colors as needed */
  color: #fff;

  }
  
  .signupform {
    width: 100%; /* Make sure the form takes the full width */
  }
  
  .label {
    margin-bottom: 8px;
  }
  
  .inputfield {
    padding: 8px;
    outline: none;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Make the input fields take the full width */
  }
  
  .errormessage {
    color: #ff0000;
    margin-top: 10px;
  }
  